// @use "../abstracts/mixins" as mix;

// Extra large devices (xl: 1280px and up)
@include mix.breakpoint(xl) {
  .container {
    max-width: 1280px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
  }
  
  .btn {
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }
  
  .text-responsive {
    font-size: 1.375rem;
    line-height: 2rem;
  }
  
  // Tailwind-like utilities
  .xl\:block { display: block; }
  .xl\:hidden { display: none; }
  .xl\:flex { display: flex; }
  .xl\:grid { display: grid; }
  .xl\:w-1\/5 { width: 20%; }
  .xl\:w-1\/4 { width: 25%; }
}

// 2X Extra large devices (2xl: 1536px and up)
@include mix.breakpoint('2xl') {
  .container {
    max-width: 1536px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 4rem;
  }
  
  // Tailwind-like utilities
  .\32xl\:block { display: block; }
  .\32xl\:hidden { display: none; }
  .\32xl\:flex { display: flex; }
  .\32xl\:grid { display: grid; }
}