@use "sass:map";
@use "variables" as vars;

// Breakpoint mixin
@mixin breakpoint($size) {
  @media (min-width: map.get(vars.$breakpoints, $size)) {
    @content;
  }
}


// Alternative class-based theme mixin
@mixin theme-class($theme-name) {
  .theme-#{$theme-name} & {
    @content;
  }
}