@use "../../styles/global/mixins.scss" as *;

.subSection {
  background-color: var(--muted);
  border-radius: var(--border-radius);
  padding: var(--padding-md);
  margin-bottom: var(--padding-sm);
}

.header {
  margin-bottom: var(--padding-sm);
  
  h3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--foreground);
    margin: 0;
  }
}

.content {
  color: var(--muted-foreground);
  font-size: 0.875rem;
}